---
import "@/styles/global.css";
import "@/assets/font/recoleta.css";
import "@fontsource-variable/inter";
import { meta } from "@/lib/metadata";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Background from "@/components/Background.astro";

const { name, title, description, image, url } = meta;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={name} />
    <link rel="apple-touch-icon" type="image/png" href="/mobile.png" />
    <title>{title}</title>
    <meta name="author" content="verdu | verdu@live.com" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:site" content="@five" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:image:alt" content={title} />
  </head>
  <body class="min-h-svh overflow-x-clip bg-white text-neutral-800 bg-[url('/pattern.png')]"></body>
    <!-- <Background /> -->
    <Header />

    <main class="flex flex-1 flex-col items-center">
      <slot />
    </main>

    <Footer />
  </body>
</html>
